// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
#root{
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    // > * {
    //     min-width: 0;
    // }
}





